main {
  overflow: hidden;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 149px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
  width: 1800px;
}
@media (max-width: 1600px) {
  .header__wrapper {
    width: 100%;
  }
}
.header__wrapper .main-wrapper__first-column {
  width: 100%;
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrapper .main-wrapper__first-column .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__wrapper .main-wrapper__first-column .header__logo img {
  margin-left: -84px;
}
.header__wrapper .main-wrapper__first-column .header__logo p {
  position: absolute;
  color: #ff2b51;
  left: 126px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.7px;
}
.header__wrapper .main-wrapper__first-column .header__logo p span {
  font-size: 14px;
}
@media (min-width: 1600px) {
  .header__wrapper .main-wrapper__first-column .main__adaptive-links {
    display: none;
  }
}
@media (max-width: 1600px) {
  .header__wrapper .main-wrapper__first-column .main__adaptive-links ul {
    font-size: 24px;
    font-weight: 600;
  }
  .header__wrapper .main-wrapper__first-column .main__adaptive-links ul li {
    margin-bottom: 20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .header__wrapper .main-wrapper__first-column .main__adaptive-links ul li:hover {
    color: red;
  }
}
.header__wrapper .main-wrapper__first-column .adaptive__icons img {
  width: 25px;
  margin: 15px 15px 0 0;
}
.header__wrapper .main-wrapper__first-column .first-column__about {
  color: white;
}
.header__wrapper .main-wrapper__first-column .first-column__about h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}
.header__wrapper .main-wrapper__first-column .first-column__about p {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: red;
}
.header__wrapper .main-wrapper__first-column .first-column__about p span {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: silver;
}
.header__wrapper .main__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.header__wrapper .main__image .image__ellipse-first {
  position: absolute;
  border: 37px solid #E40037;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  border-radius: 50%;
  width: 707px;
  height: 707px;
  bottom: -400px;
}
.header__wrapper .main__image .image__ellipse-last {
  position: absolute;
  border: 37px solid #E40037;
  border-radius: 50%;
  width: 707px;
  height: 707px;
  bottom: -400px;
}
.header__wrapper .main__image .image__block {
  bottom: -493px;
  position: absolute;
  z-index: 20;
}
@media (max-width: 1600px) {
  .header__wrapper .main__image .image__block {
    bottom: -634px;
  }
}

.main-wrapper__last-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 950px;
  width: 100%;
}
@media (max-width: 1800px) {
  .main-wrapper__last-column {
    margin-right: 250px;
  }
}
@media (max-width: 1600px) {
  .main-wrapper__last-column {
    display: none;
  }
}
.main-wrapper__last-column .header__name {
  color: #ff2b51;
}
.main-wrapper__last-column .header__name p {
  text-align: right;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.5px;
}
.main-wrapper__last-column .header__name p span {
  font-weight: 400;
  font-size: 35px;
  display: block;
}
.main-wrapper__last-column .main__links ul {
  margin-top: 480px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}
.main-wrapper__last-column .main__links ul a {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.main-wrapper__last-column .main__links ul a:hover {
  color: red;
}
.main-wrapper__last-column .main__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-wrapper__last-column .main__icons img {
  width: 25px;
  margin-right: 15px;
}