.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1280px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block__left-wrap-lst {
  color: white;
  text-align: left;
}
@media (max-width: 1280px) {
  .block__left-wrap-lst {
    display: none;
  }
}
.block__left-wrap-lst h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}
.block__left-wrap-lst p {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: red;
}
.block__left-wrap-lst p span {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: silver;
}

.block__left {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (min-width: 1280px) {
  .block__left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 950px;
  }
  .block__left .block__left-wrap-frst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1280px) {
  .block__left {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.block__left .header__logo img {
  margin-left: -50px;
}
@media (max-width: 1280px) {
  .block__left .header__logo img {
    margin-left: 0;
  }
}
.block__left .header__title {
  font-size: 25px;
  color: #ff2b51;
  font-weight: 500;
  margin-left: -57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1280px) {
  .block__left .header__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
.block__left .header__title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}
.block__left .header__title h1 span {
  font-size: 28px;
  font-weight: 600;
  margin-right: 5px;
  line-height: 30px;
}
@media (min-width: 1280px) {
  .block__left .adaptive__links {
    display: none;
  }
}
@media (max-width: 1280px) {
  .block__left .adaptive__links {
    font-size: 24px;
    font-weight: 600;
  }
  .block__left .adaptive__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block__left .adaptive__links ul li {
    margin-right: 15px;
  }
  .block__left .adaptive__links ul li:last-child {
    margin: 0;
  }
}

.block__center {
  width: 100%;
  margin: 0 90px;
}
@media (max-width: 1280px) {
  .block__center {
    margin: 0 0;
  }
}
.block__center .main__cards {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 930px;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .block__center .main__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.block__center .main__cards .main__card img {
  width: 600px;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 9px 34px 145px -50px #ff2b51;
          box-shadow: 9px 34px 145px -50px #ff2b51;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 0.3;
}
@media (max-width: 1280px) {
  .block__center .main__cards .main__card img {
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
.block__center .main__cards .main__card img:hover {
  opacity: 0.7;
}
.block__center #element::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(249, 249, 253, 0);
}
.block__center #element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9f1b33;
}
.block__center #element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.07);
}

.block__right {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 950px;
}
@media (max-width: 1280px) {
  .block__right {
    display: none;
  }
}
.block__right .main__links ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.block__right .main__links ul li {
  margin-right: 30px;
}
.block__right .main__links ul a {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.block__right .main__links ul a:hover {
  color: red;
}
@media (max-width: 1280px) {
  .block__right .main__icons-contact {
    display: none;
  }
}
.block__right .main__icons-contact img {
  width: 25px;
  margin-right: 15px;
}

@media (min-width: 1280px) {
  .main__icons-contact-adaptive {
    display: none;
  }
}
.main__icons-contact-adaptive img {
  width: 25px;
  margin: 5px;
}